<div class="row">
    <div class="create-form col-md-6">
        <h2>Login</h2>
<br>
        <form class= 'form login-form'>
            <div class="form-group">
                <label for='email-login'>email:</label>
                <input type="text" class="form-input" id='email-login'/>
            </div>
            <div class="form-group">
                <label for= 'password-login'>password:</label>
                <input type="password" class="form-input" id='password-login' />
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type= 'submit'>Login</button>
            </div>
        </form>
    </div>
    <form class=" create-form form signup-form">
        <h2>Sign up</h2>
        <br>
        <div class="form-group">
            <label for='name-signup'>name:</label>
            <input type="text" class="form-input" id= 'name-signup'/>
        </div>
        <div class="form-group">
            <label for='email-signup'>email:</label>
            <input type="text" class="form-input" id= 'email-signup'/>
        </div>
        <div class="form-group">
            <label for='password-signup'>password:</label>
            <input type="text" class="form-input" id= 'password-signup'/>
        </div>
        <div class="form-group">
                <button class="btn btn-primary" type= 'submit'>signup</button>
            </div>
    </form>
</div>

<script src="./js/login.js"></script>